
/**
* Responsible for showing unsubscribe headline/copy and capturing user unsubscribe action.
* Emits response to main App Functions
*/
Vue.component('preference-form', {
  props: {
    branding: Object,
    preferenceOptions: Object,
    channels: Array,
    channelSelection: String,
    formSubmitting: Boolean,
    subscriberPreferences: Array
  },
  data() {
    return {
      oneClickUnsub: false,
      formInputs: {
        unsubscribe: {
          unsubscribed: null,
          hasUpdatedValues: false
        }
      }
    }
  },
  methods: {
    async oneClickSubscribe() {
      this.formInputs.unsubscribe = {
        unsubscribed: false,
        hasUpdatedValues: this.subscriberPreferences[0].unsubscribed === true || this.subscriberPreferences[0].unsubscribed === 'True' ? true : false
      };

      await this.submitPreferenceForm()
    },
    async oneClickUnsubscribe() {
      this.formInputs.unsubscribe = {
        unsubscribed: true,
        hasUpdatedValues: this.subscriberPreferences[0].unsubscribed === false || this.subscriberPreferences[0].unsubscribed === 'False' ? true : false
      };

      await this.submitPreferenceForm()
    },
    submitPreferenceForm() {
      const channels = this.channels;
      let emit = this.formInputs
     
      for (const c in channels) {
        const channel = channels[c];
        const channelPreferences = this.setChannelPreferences(channel);
        emit['unsubscribe']['hasUpdatedValues'] = this.checkForUpdatedValues(emit['unsubscribe'], channelPreferences)
      }

      this.$emit('submit-preference-form', emit)
    },
    checkForUpdatedValues(updateObject, existingObject) {
      for (const u in updateObject) {
        const updatedProfileValue = updateObject[u];
        const existingProfileValue = existingObject[u];

        if (u !== 'hasUpdatedValues') {
          if (updatedProfileValue !== existingProfileValue) {
            return true;
          }
        }
      }

      return false;
    },
    setFormInputSchema() {
      this.formInputs = {
        profile: {}
      };

      this.channels.forEach(channel => {
        this.formInputs[channel] = {}
      })
    },
    setFormInputValues(objectKey, reset = false) {
      const channels = this.channels;
      for (const c in channels) {
        switch (objectKey) {
          case 'unsubscribe':
            if (!Object.prototype.hasOwnProperty.call(this.formInputs[channels[c]], 'unsubscribe')) {
              this.formInputs[channels[c]]['unsubscribe'] = {
                unsubscribed: false
              };
            }

            this.formInputs[channels[c]]['unsubscribe']['unsubscribed'] = this.setChannelPreferences(channels[c])['unsubscribed'];

            break;
        }
      }

    },
    setChannelPreferences(channel) {
      if (this.subscriberPreferences.length) {
        return this.subscriberPreferences.find((pref) => pref.channel === channel)
      }
    }
  },
  watch: {
    channelSelection: function (newVal, oldVal) {
      this.setSubscriptionFormSchema();
    }
  },
  computed: {
    preferenceChannelConfiguration() {
      if (this.channelSelection) {
        return this.preferenceOptions['channels'][this.channelSelection]
      }
    },
    channelPreferences() {
      if (this.channelSelection) {
        return this.subscriberPreferences.find((pref) => pref.channel === this.channelSelection)
      }
    },
  },
  template: `
<section>
  <v-row>
    <v-col cols="12" md="8">
      <h3>{{channelPreferences.emailAddress}}</h3>
      <h5 v-if="channelPreferences.unsubscribed === 'True'">Current Status: unsubscribed</h5>
      <h5 v-else>Current Status: active</h5>
      <v-divider class="my-5"></v-divider>
    </v-col>
  </v-row>

  <v-row class="flex">
    <!-- Subscription Checkbox Selection Section -->
    <v-col cols="12" md="8">
      <div v-show="channelSelection">
        <h2 v-if="preferenceChannelConfiguration.unsubscribe && preferenceChannelConfiguration.unsubscribe.headline">{{preferenceChannelConfiguration.unsubscribe.headline}}</h2>
        <span v-if="preferenceChannelConfiguration.unsubscribe && preferenceChannelConfiguration.unsubscribe.copy" v-html="preferenceChannelConfiguration.unsubscribe.copy"></span>
      </div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12" md="8">
      <v-btn class="ma-2" v-if="channelPreferences.unsubscribed === 'False'" :loading="formSubmitting" :disabled="formSubmitting" color="info" @click="oneClickUnsubscribe">
        Unsubscribe From All
        <template v-slot:loader>
          <span class="custom-loader">
            <v-icon light>mdi-cached</v-icon>
          </span>
        </template>
      </v-btn>

      <v-btn class="ma-2" v-else :loading="formSubmitting" :disabled="formSubmitting" color="info" @click="oneClickSubscribe">
        Subscribe To All
        <template v-slot:loader>
          <span class="custom-loader">
            <v-icon light>mdi-cached</v-icon>
          </span>
        </template>
      </v-btn>
    </v-col>
  </v-row>
</section>
`
})